<form method="post" action="/teams">
  <h1>Create a Team and Heroes!</h1>
  <label for"team_name">Team Name:</label>
  <input type="text" id="team_name" name="team_name"><br>
  <label for"team_motto">Team Motto:</label>
  <input type="text" id="team_motto" name="team_motto"><br>
  <h2>Hero 1</h2>
  <label for"hero_name_1">Hero's Name:</label>
  <input type="text" id="hero_name_1" name="hero_name_1"><br>
  <label for"hero_power_1">Hero's Power:</label>
  <input type="text" id="hero_power_1" name="hero_power_1"></br>
  <label for"hero_biography_1">Hero's Biography:</label>
  <input type="text" id="hero_biography_1" name="hero_biography_1"><br>
</form>
