<form method="post" action="/teams">
  <h1>Create a Team and Heroes!</h1>
  <li>
  <label for"team_name">Team Name:</label>
  <input type="text" id="team_name" name="team_name">
  <label for"team_motto">Team Motto:</label>
  <input type="text" id="team_motto" name="team_motto">
</li>
</form>
