<h1><=% @team_name %></h1>

<h2>#teammotto</h2>

<h2>Hero_name_1</h2>
Hero Power: #{hero_power_1}
Hero Biography: #{hero_biography_1}

<h2>Hero_name_2</h2>
Hero Power: #{hero_power_2}
Hero Biography: #{hero_biography_2}

<h2>Hero_name_3</h2>
Hero Power: #{her_power_3}
Hero Biography: #{hero_biography_3}
